html{
    height: 100%;
}
body{
    min-height: 100%;
    margin: auto;
}
header{
    background:aqua;
}
main{
    background:greenyellow;
    flex: 1 1 0;
}
footer{
    background:red;

}
/* -------FLEX------- */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-jc {
    display: flex;
    justify-content: center
}